apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp-deployment
  labels:
    app: myapp
    type: frontend
spec:
  template:
    metadata:
      name: nginx-deployment
      labels:
        app: nginx
        type: frontend
        teste: flames
    spec:
      containers:
      - name: nginx-deployment
        image: nginx
  replicas: 3
  selector:
    matchLabels:
      type: frontend